// base
$font-family: unquote("sans-serif") !default;
$font-size: 14px !default;
$line-height: 1.4 !default;
$font-color: #222222 !default;
$selected-font-color: #fff !default;
$selected-background-color: #b3d4fc !default;

// Links
$link-color: #00e;
$link-visited-color: #551a8b;
$link-hover-color: #06e;

// Lists
$list-left-margin: 40px;